<!DOCTYPE html>
<html>
  <head>
    <title>whoami api</title>
    <meta name="description" content="whoami api">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Ala Eddine Sleimi">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   <main>
    <h1>
      whoami
    </h1>
    <h2>
      usage:
    </h2>
    <h3>
      input:</h3>
     <a href="https://getwhoami.glitch.me/whoami" title="https://getwhoami.glitch.me/whoami">
       https://getwhoami.glitch.me/whoami
     </a>
    
    <h3>
      output example::
     </h3>
     <p>
       <quote>
         {  
           "ipaddress":"getwhoami.glitch.me",
           "language":"fr-FR",
           "software":"Windows NT 10.0; Win64; x64"
         }
       </quote>
     </p>
          
          
    
    </main>
      

  </body>
</html>
